{% extends 'base/layout.html' %} {% load static %} {% block title %}{{
stream.title }} - Host{% endblock %} {% block content %} {% include "surveys/modal.html" %}
<div
  class="container-fluid d-flex justify-content-center align-items-center flex-column"
  style="min-height: 100vh; overflow: hidden"
  data-stream-id="{{ stream.id }}"
  data-is-host="true"
  data-username="{{ username }}"
  data-hostname="{{ hostname }}"
>
  <!-- Title and Description -->
  <h2 class="text-primary font-weight-bold mb-2 text-center">
    {{ stream.title }}
  </h2>
  <p class="text-muted mb-3 text-center">{{ stream.description }}</p>

  <!-- Main Container -->
  <div class="row justify-content-center w-100">
    <!-- Video and Screen Sharing section -->
    <div class="col-lg-8 col-md-10 mb-4">
      <div class="video-container mx-auto position-relative">
        <!-- Main Video -->
        <video
          id="localVideo"
          autoplay
          muted
          class="video-large shadow-lg"
        ></video>
        <!-- Screen Sharing -->
        <video
          id="sharedScreen"
          autoplay
          muted
          class="shared-screen video-small d-none"
        ></video>
      </div>
    </div>

    <!-- Chat and Poll Container -->
    <div class="col-lg-4 d-none d-lg-block">
      <!-- Active Survey -->
      <div id="active-survey" class="card d-none mb-3">
        <div class="card-body">
          <h5 id="survey-question" class="card-title text-center"></h5>
          <div id="survey-options" class="options-list"></div>
          <button id="end-survey-btn" class="btn btn-danger mt-2 d-none">
            End Survey
          </button>
        </div>
      </div>

      <!-- Live chat -->
      <div class="chat-container card">
        <div class="card-header text-secondary text-center">
          <h5>Live Chat</h5>
        </div>
        <div id="chat-log" class="chat-box card-body"></div>
        <div class="chat-input d-flex align-items-center mt-2 px-3">
          <input
            type="text"
            id="chat-message-input"
            placeholder="Type your message..."
            autocomplete="off"
            class="form-control"
          />
          <button id="chat-message-submit" class="btn btn-link ml-2">
            <i class="fas fa-paper-plane text-primary"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Host Controls -->
    <div class="controls d-flex flex-wrap justify-content-center mt-3">
      <button id="muteButton" class="btn btn-outline-primary btn-lg mx-2">
        <i class="fas fa-volume-mute"></i>
      </button>
      <button
        id="startEndStreamingButton"
        class="btn btn-success btn-lg mx-2"
        data-stream-id="{{ stream.id }}"
      >
        <i class="fas fa-video"></i> Start Streaming
      </button>
      <button
        id="fullscreenButton"
        class="btn btn-outline-secondary btn-lg mx-2"
      >
        <i class="fas fa-expand"></i>
      </button>
      <button
        id="shareScreenButton"
        class="btn btn-outline-warning btn-lg mx-2"
      >
        <i class="fas fa-desktop"></i> Share Screen
      </button>
      <button
        id="startSurveyButton"
        class="btn btn-outline-info btn-lg mx-2"
        data-toggle="modal"
        data-target="#surveyModal"
      >
        <i class="fas fa-poll"></i> Start Survey
      </button>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script defer type="module" src="{% static 'js/webrtc_host.js' %}"></script>
<script>
  const username = "{{ username }}";
  const streamId = "{{ stream.id }}";
  const isHost = true;
</script>
<script defer src="{% static 'chat/chat.js' %}"></script>
<script defer type="module" src="{% static 'js/video_controls.js' %}"></script>
<script defer type="module" src="{% static 'js/stream_recorder.js' %}"></script>
<script
  defer
  type="module"
  src="{% static 'js/screen_share_host.js' %}"
></script>
<script defer src="{% static 'surveys/js/surveys.js' %}"></script>
{% endblock %}
