{% extends 'base/layout.html' %}
{% load static %}
{% block title %}{{ stream.title }} - Viewer{% endblock %}
{% block content %}
<div
  class="container-fluid d-flex flex-column align-items-center"
  style="min-height: 100vh; padding-top: 80px"
  data-stream-id="{{ stream.id }}"
  data-is-host="false"
  data-username="{{ username }}"
  data-hostname="{{ hostname }}"
>
  <!-- Title and Description -->
  <h2 class="text-primary font-weight-bold mb-2 text-center">
    {{ stream.title }}
  </h2>
  <p class="text-muted mb-3 text-center">{{ stream.description }}</p>

  <div class="row w-100 d-flex justify-content-center">
    <!-- Video Container -->
    <div class="col-lg-8 col-md-10 mb-4">
      <div class="video-container position-relative">
        <!-- Main Video (Host) -->
        <video
          id="hostVideo"
          autoplay
          muted
          playsinline
          class="video-player video-large shadow-lg"
        ></video>
        <!-- Screen sharing -->
        <video
          id="sharedScreen"
          autoplay
          muted
          playsinline
          class="video-small d-none"
        ></video>
      </div>
    </div>

    <!-- Chat and Poll Container -->
    <div class="col-lg-4 col-md-10 mb-4">
      <!-- Active Survey -->
      <div id="active-survey" class="card d-none mb-3">
        <div class="card-body">
          <h5 id="survey-question" class="card-title text-center"></h5>
          <div id="survey-options" class="options-list"></div>
        </div>
      </div>

      <!-- Live Chat -->
      <div class="card chat-container">
        <div class="card-header text-secondary text-center">
          <h5>Live Chat</h5>
        </div>
        <div id="chat-log" class="chat-box card-body"></div>
        <div class="chat-input d-flex align-items-center mt-2 px-3">
          <input
            type="text"
            id="chat-message-input"
            placeholder="Type your message..."
            autocomplete="off"
            class="form-control"
          />
          <button id="chat-message-submit" class="btn btn-link ml-2">
            <i class="fas fa-paper-plane text-primary"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Show/Hide Chat Button on Mobile -->
  <button id="toggleChatButton" class="btn btn-outline-primary d-lg-none mt-3">
    <i class="fas fa-comments"></i> Show Chat
  </button>

  <!-- Chat Container on Mobile (Hidden by Default) -->
  <div id="mobileChatContainer" class="card d-lg-none mt-3" style="display: none">
    <div class="card-header text-secondary text-center">
      <h5>Live Chat</h5>
    </div>
    <div id="chat-log-mobile" class="chat-box card-body"></div>
    <div class="chat-input d-flex align-items-center mt-2 px-3">
      <input
        type="text"
        id="chat-message-input-mobile"
        placeholder="Type your message..."
        autocomplete="off"
        class="form-control"
      />
      <button id="chat-message-submit-mobile" class="btn btn-link ml-2">
        <i class="fas fa-paper-plane text-primary"></i>
      </button>
    </div>
  </div>
</div>

<script defer  type="module" src="{% static 'js/webrtc_viewer.js' %}"></script>
<script>
  const username = "{{ username }}";
  const streamId = "{{ stream.id }}";
  const isHost = false;
</script>
<script defer src="{% static 'chat/chat.js' %}"></script>
<script defer  type="module" src="{% static 'js/screen_share_viewer.js' %}"></script>
<script defer src="{% static 'surveys/js/viewer_surveys.js' %}" defer></script>
<script>
  // Js to show and hide the chat. It should be handled from chat.js
  document.getElementById("toggleChatButton").addEventListener("click", () => {
    const chatContainer = document.getElementById("mobileChatContainer");
    if (chatContainer.style.display === "none") {
      chatContainer.style.display = "block";
      document.getElementById("toggleChatButton").innerHTML =
        '<i class="fas fa-comments"></i> Hide Chat';
    } else {
      chatContainer.style.display = "none";
      document.getElementById("toggleChatButton").innerHTML =
        '<i class="fas fa-comments"></i> Show Chat';
    }
  });
</script>
{% endblock %}
